CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
EMAIL_PASS=
EMAIL_USER=
FIREBASE_SERVICE_ACCOUNT=<REDACTED_JSON>
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase/service-account.json
HF_TOKEN=<REDACTED_HF_TOKEN>
JWT_REFRESH_SECRET=Dieu19961991??!??!_refresh
JWT_SECRET=Dieu19961991??!??!
MONGO_CLUSTER=cluster0.5tjz9v0.mongodb.net
MONGO_DB_NAME=myDatabase60
MONGO_PASSWORD=Dieu19961991??!??!
MONGO_URI=mongodb+srv://SETRAF:Dieu19961991%3F%3F%21%3F%3F%21@cluster0.5tjz9v0.mongodb.net/myDatabase60?retryWrites=true&w=majority&appName=Cluster0
MONGO_USER=SETRAF
PORT=7823
PRIVATE_KEY=264419a2-cd4e-471a-81b3-04c522669052
PUBLIC_KEY=qazghazz
TAVILY_API_KEY=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
